<div class="main">
  <app-navbar></app-navbar>
  <div class="landing">
    <div class="hero">
      <p>TRY NEXT</p>
      <div class="d-flex flex-row align-items-center">
        <div class="red"></div>
        <p>GENERATION OF</p>
      </div>
      <p>CHATBOTS</p>
    </div>
    <div
      class="footer d-flex flex-row align-items-center justify-content-between"
    >
      <p>For Students and Corporates</p>
      <div class="">
        <button (click)="dash()" class="try m-1">Try Now</button>
        <button (click)="dash()" class="arrow m-1">
          <span class="material-symbols-outlined"> arrow_forward </span>
        </button>
      </div>
    </div>
  </div>
</div>
