<div class="mainBox" *ngFor="let item of History">
  <div class="QueryBox">
    <div class="imgBox border-end">
      <img
        [src]="user.profileImg"
        alt="login"
        class="rounded-circle img-fluid p-1"
      />
    </div>
    <p class="">{{ item.prompt }}</p>
  </div>
  <div class="ResponseBox">
    <div class="d-flex flex-column gap-2 border-end">
      <p class="mx-1" [innerHTML]="item.response">
        <!-- {{ item.response }} -->
      </p>
      <!-- options -->
      <div class="d-flex flex-row justify-content-end gap-1">
        <button>
          <span class="material-symbols-outlined"> thumb_up </span>
        </button>
        <button (click)="copyToClipboard(item.response)">
          <span class="material-symbols-outlined"> content_paste </span>
        </button>
        <button (click)="share(item.response)">
          <span class="material-symbols-outlined">
            <span class="material-symbols-outlined"> share </span>
          </span>
        </button>
        <button class="searchBtn mx-1" (click)="gSearch(item.prompt)">
          <div class="search-with-g">
            <img src="../../../assets/google.png" alt="" />
          </div>
          <p>Verify Response</p>
        </button>
      </div>
    </div>
    <div class="imgBox rounded-pill">
      <img src="../../../assets/ai.png" alt="" class="" />
    </div>
  </div>
</div>
