<div class="mainBox">
  <div class="QueryBox">
    <div class="imgBox">
      <img src="https://source.unsplash.com/random/900×700/?fruit" alt="" />
    </div>
    <p>This is the users question?</p>
  </div>
  <div class="ResponseBox">
    <div class="imgBox">
      <img src="https://source.unsplash.com/random/900×700/?fruit" alt="" />
    </div>
    <div class="d-flex flex-column gap-2">
      <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repellat error
        quos blanditiis aliquid recusandae ea, fugiat, totam sunt nesciunt
        consequuntur et, libero suscipit beatae? Lorem ipsum, dolor sit amet
        consectetur adipisicing elit. Sequi aspernatur omnis quae.
      </p>
      <div class="d-flex flex-row gap-1">
        <button>
          <span class="material-symbols-outlined"> thumb_up </span>
        </button>
        <button>
          <span class="material-symbols-outlined"> thumb_down</span>
        </button>
        <button>
          <span class="material-symbols-outlined">
            <span class="material-symbols-outlined"> share </span>
          </span>
        </button>
        <button class="searchBtn">
          <div class="search-with-g">
            <img src="../../../assets/google.png" alt="" />
          </div>
          <p>Search on Google</p>
        </button>
        <button>
          <span class="material-symbols-outlined">
            <span class="material-symbols-outlined"> more_vert </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
