<div class="mainBox" *ngFor="let item of History">
  <div class="QueryBox">
    <div class="imgBox">
      <img src="https://source.unsplash.com/random/900×700/?fruit" alt="" />
    </div>
    <p>{{ item.prompt }}</p>
  </div>
  <div class="ResponseBox">
    <div class="imgBox">
      <img src="https://source.unsplash.com/random/900×700/?fruit" alt="" />
    </div>
    <div class="d-flex flex-column gap-2">
      <p>
        {{ item.response }}
      </p>
      <div class="d-flex flex-row gap-1">
        <button>
          <span class="material-symbols-outlined"> thumb_up </span>
        </button>
        <button>
          <span class="material-symbols-outlined"> thumb_down</span>
        </button>
        <button>
          <span class="material-symbols-outlined">
            <span class="material-symbols-outlined"> share </span>
          </span>
        </button>
        <button class="searchBtn" (click)="gSearch()">
          <div class="search-with-g">
            <img src="../../../assets/google.png" alt="" />
          </div>
          <p>Search on Google</p>
        </button>
        <button>
          <span class="material-symbols-outlined">
            <span class="material-symbols-outlined"> more_vert </span>
          </span>
        </button>
      </div>
    </div>
  </div>
</div>
