<div
  class="containers d-flex flex-column align-items-center justify-content-center vh-100"
>
  <div
    class="box d-flex align-items-center gap-4 justify-content-center p-4 rounded-4"
  >
    <div class="st">
      <img
        src="https://source.unsplash.com/random/100x100"
        alt="login"
        class="rounded-circle"
      />
      <p class="fs-1">Sign Up</p>
      <p>Create a new account</p>
      <div class="emsp"></div>
    </div>
    <form
      (ngSubmit)="register($event)"
      class="d-flex flex-column align-items-start"
    >
      <label for="name">Name</label>
      <input
        type="text"
        placeholder="Name"
        name="name"
        [(ngModel)]="name"
        class="form-control rounded-3 my-2 border-2"
      />
      <label for="email">Email</label>
      <input
        type="email"
        placeholder="Email"
        name="email"
        [(ngModel)]="email"
        class="form-control rounded-3 my-2 border-2"
      />
      <label for="password">Password</label>
      <input
        type="password"
        placeholder="Password"
        name="password"
        [(ngModel)]="password"
        class="form-control rounded-3 my-2 border-2"
      />
      <div class="bs">
        <button class="btn btn-primary rounded-pill px-4 py-2 mt-2">
          SignUp
        </button>
      </div>
      <span class="d-flex gap-2 mt-4">
        <p>Already have an Account ?</p>
        <a [routerLink]="['/login']" class="link">Login Here</a>
      </span>
    </form>
  </div>
</div>
