<!-- [style.width]="expand ? '15vw' : '4vw'" -->
<div
  class="d-flex flex-column align-items-start justify-content-between cont"
  [style.width]="expand ? '200px' : ''"
>
  <div class="d-flex flex-column align-items-start">
    <button (click)="toggleSideBar()">
      <span class="material-symbols-outlined"> menu </span>
    </button>
    <button
      class="addBtn d-flex align-items-center justify-content-center gap-2"
    >
      <span class="material-symbols-outlined">add</span>
      <p *ngIf="expand">New Chat</p>
    </button>
  </div>
  <div class="d-flex flex-column align-items-start">
    <button class="d-flex align-items-center justify-content-center gap-2">
      <span class="material-symbols-outlined"> help </span>
      <p *ngIf="expand">Help</p>
    </button>
    <button class="d-flex align-items-center justify-content-center gap-2">
      <span class="material-symbols-outlined"> history </span>
      <p *ngIf="expand">History</p>
    </button>
    <button class="d-flex align-items-center justify-content-center gap-2">
      <span class="material-symbols-outlined"> settings </span>
      <p *ngIf="expand">Settings</p>
    </button>
    <p *ngIf="expand" class="anot">Build by Abhishek with ❤️</p>
  </div>
</div>
